*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right , black , gray);
}
#navbar{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black ;
}
#navbar img{
    width: 90px;
    height: auto;
    margin-left: 30px;
}
#listButtonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: auto;
}
#navbar #listButtonContainer ul{
    display: flex;
    list-style-type: none;
    margin-right: 15px;
}
#navbar #listButtonContainer ul li{
    padding: 5px 15px;
}
#navbar #listButtonContainer ul li a{
    text-decoration: none;
    color: gray;
    font-size: 18px;
    transition: .5s all;
}
#navbar #listButtonContainer ul li a:hover{
    border-bottom: 1px solid black;
    color: white;
    letter-spacing: 1px;
}
#listButtonContainer button{
    padding: 8px 18px;
    color: white;
    background-color: black;
    border-radius: 8px;
    box-shadow:1px 3px 8px ;
    transition: .5s all;
}
#listButtonContainer button:hover{
    cursor: pointer;
    color: black;
    background-color: white;
}
.navunderHeading{
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
    color: white;
}

/*Link container section*/
/*
#linkContainer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#linkContainer ul{
    list-style-type: none;
    display: flex;
}
#linkContainer ul li{
    margin: 10px;
}
#linkContainer ul li:hover{
    letter-spacing: 0.5px;
}
#linkContainer ul li a{
    text-decoration: none;
    font-size: 18px;
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    background-color: transparent;
    transition: .5s all;
}
#linkContainer ul li ul{
    display: none;
}
#linkContainer ul li ul li a{
    border: none;
}
#linkContainer ul li :hover > ul{
    display: block;
}*/


#linkContainer ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
#linkContainer ul li{
    position: relative;
    float: left;
}
#linkContainer ul li a{
    font-size: 20px;
    padding: 20px;
    color: white;
    display: block;
    text-decoration: none;
}

#linkContainer ul li a:hover{
    border-radius: 10px;
    background: #333;
    color: #fff;
}

#linkContainer ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    display: none;
    border-radius: 10px;
}
#linkContainer ul li ul li{
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.1);
    border-radius: 10px;
}
#linkContainer ul li:hover > ul{
    display: block;
}